{% extends 'main.html' %}
{% block content%}
<style>
    .room-container-2 {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 10px;
    }
</style>
<div class="room-container">
    <div>
        <div>
            <h1>{{page.name}}</h1>
            <p>{{page.description}}</p>
            <hr>
        </div><br>
        <div class="room-container-2">
            <div>
                <div>
                    <h2>Conversation</h2>
                    <hr>
                    {%for message in msgs %}
                    <div>
                        <span>@{{message.user}} </span><small> {{message.created|timesince}} ago</small>
                        {% if request.user == message.user %}
                        <a href="{%url 'delete-msg' message.id%}"> delete</a>
                        {% endif %}
                        <h4>{{message.body}}</h4>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                {% if request.user.is_authenticated %}
                <div class="comment-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="text" name="body" placeholder="Write your comment here...">
                    </form>
                </div>


                {% endif %}
            </div>
        
          <div>
            <h2>Participants</h2><hr>
            {% for user in participants%}
            <div>
                <p>@{{user.username}}</p>
            </div>
            {% endfor%}
          </div>
    </div>
</div>
{% endblock content %}